<% content_for :head do %>
<link rel="stylesheet" href="/static/stylesheets/datajam_chat/app.css" type="text/css" media="screen, projection" />
<%= stylesheet_link_tag 'datajam_chat/app' %>
<script type="text/javascript">
    curl.paths.chat || (curl.paths.chat = '/static/javascripts/datajam_chat')
</script>
<% end %>

<% content_for :body do %>
<script src="/static/javascripts/datajam_chat/app-compiled.min.js" type="text/javascript" charset="utf-8"></script>
<% end %>

<div id="content" class="container">
    <div class="datajamChatAdmin">
        <div class="datajamChatThread moderator clearfix" data-url="/chats/<%= @chat.id %>.json" data-interval="3000" data-status='rejected'></div>
        <div class="datajamChatThread moderator clearfix" data-url="/chats/<%= @chat.id %>.json" data-interval="3000" data-status='incoming'></div>
        <div class="datajamChatThread clearfix" data-url="/chats/<%= @chat.id %>.json" data-interval="3000" data-status='published'></div>
    </div>
</div>