<span class="tip">Have something to say? Join the discussion.</span>
<!--<ul class="discussionFilter">
    <li>
        <label><input class="radio" type="radio" name="word" checked="checked">All</label>
    </li>
    <li>
        <label><input class="radio" type="radio" name="word">Commentary</label>
    </li>
    <li class="last">
        <label><input class="radio" type="radio" name="word">Tweets</label>
    </li>
</ul>-->
<div class="discussionComments commentsClip scroll clear">
<ol class="comments" id="chat_<%= id %>"></ol>
</div>