<form name="identify" action="#" class="clearfix">
    <div class="inputArea well clearfix">
        <p class="clearfix">
            <label for="<%= _id %>_identity">Enter a screen name to join the chat.</label>
            <input type="text" id="<%= _id %>_identity" name="display_name" maxlength="30" />
            <% if(typeof csrf_param != 'undefined'){ %>
            <input type="hidden" name="<%= csrf_param %>" value="<%= csrf_token %>" />
            <% } %>
            <button type="submit" class="identify btn">Join</button>
        </p>
    </div>
</form>
